*{
    margin: 0;
    box-sizing: border-box;
}
body{
    cursor: crosshair;
}
.game{
    width: 100%;
    background-color: rgb(128, 92, 92);
    height: 87vh;
    border: 2px black solid;

}
.obj{
    background-color: black;
    height: 100px;
    width: 100px;
    border-radius: 100px;

}