*{
    margin: 0;
    box-sizing: border-box;
}
body{
    cursor: crosshair;
}
.screen{
    position: absolute;
    width: 100%;
    height: 87vh;
    background-color: rgb(129, 87, 87);
    border-top: solid black 5px;
    border-bottom: solid black 5px;
}
.circle{
    width: 75px;
    height: 75px;
    background-color: black;
    border-radius: 100px;
    display: none;
    position: absolute;
}
.p{
    position: absolute;
    top: 90vh;
    font-size: 45px;
           
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto Slab', serif;
}
.back{
    margin-top: 92vh;
    position: absolute;
    left: 50px;
    color: white;
    font-size: 25px;
    border: black 2px solid;
    border-radius: 5px;
    background-color: black;
    padding: 5px;
    text-decoration: none;
}
